@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('/fonts/ProtoMono-Light.otf');
  font-family: Proto Mono;
  font-weight: 300;
  font-display: swap
}

@font-face {
  src: url('/fonts/ProtoMono-Regular.otf');
  font-family: Proto Mono;
  font-weight: 400;
  font-display: swap
}

@font-face {
  src: url("/fonts/ProtoMono-Bold.otf");
  font-family: Proto Mono;
  font-weight: 700;
  font-display: swap
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-feature-settings: "kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: Proto Mono, serif;
  font-size: 14px;
}

.a-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.nuxt-link-exact-active {
  font-weight: bold;
  @apply text-black dark:text-white;
}

.nuxt-link-exact-active svg {
  @apply dark:fill-white;
}
