@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Inter, serif;
  font-size: 14px;
}

.a-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nuxt-link-exact-active {
  font-weight: bold;
  @apply text-black dark:text-white;
}

.nuxt-link-exact-active svg {
  @apply dark:fill-white;
}

.square {
  padding-top: 100%;
}
